@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

*{
	margin:0;
	padding:0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

body{
  color: grey;
}
.navbar-default{
	background-color: #000;
}

.navbar-brand{
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.carousel{
	position: absolute;
	top:0;
	left:0;
	z-index: -1;
}

#aboveTheFold{
	height:100vh;
}

#about{
  margin-top: 4em;
  text-align: center;
  color: grey;
}

.aboutSection{
  height: 100vh;
}

.aboutContents{
  vertical-align: middle;
}


#highlights{
  height: 100vh;
}
p{
  color: grey;
}

.blkBackground{
  color: #fff;
  background-color: #000;
}

.articles{
  height: 100vh;
  overflow: hidden;

}

#featuredArticles{
  margin-bottom: 2em;
}

.mediaStyle{
  margin-bottom: 9em;
}



blockquote.twitter-tweet {
  display: inline-block;
  padding: 16px;
  margin: 10px 0;
  /*max-width: 468px;*/
  width: 100%; 
  /*border: #ddd 1px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;*/
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  font: bold 8px/10px Helvetica, Arial, sans-serif;
  color: #000;
}

blockquote.twitter-tweet p {
  font: normal 8px/10px Georgia, "Times New Roman", Palatino, serif;
  margin: 0 5px 10px 0;
}

blockquote.twitter-tweet a[href^="https://twitter.com"] {
  font-weight: normal;
  color: #666;
  font-size: 10px;
}

blockquote{
  border-left: none;
}



.mc-field-group{
  float: left;
}

#mc_embed_signup{
	/*background:#fff; */
	clear:left; 
	font:12px Helvetica,Arial,sans-serif; 
	/*color: grey;*/
  text-align: center;
}

#mc-embedded-subscribe{
  padding:1em;
  margin: .5em;

	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
}

.button{
  background-color:#3c3d41;
  color: #fff;
  padding: 1em;
  border-radius: 12px;
  
}


#mce-EMAIL{
  color:#000;
}