/*------------------------------------------------------------------
[Custom Theme Stylesheet]

Project:	Law Firm - Onepage Html Responsive Template
Version:	1.1
Primary use:	Law Firm - Onepage Html Responsive Template 
-------------------------------------------------------------------*/

/*add your style css here*/

table {
  background:none repeat scroll 0 0 #fff;
  border:1px solid #f0f0f0;
  border-collapse:collapse;
  border-spacing:0;
  text-align:left;
  width:100%;
}
table tr td, table tr th {padding:0.625rem;}
table tfoot, table thead,table tr:nth-of-type(2n) {background:none repeat scroll 0 0 #f0f0f0;}
th,table tr:nth-of-type(2n) td {border-right:1px solid #fff;}
td {border-right:1px solid #f0f0f0;}
.size-960 .line,.size-1140 .line,.size-1280 .line {
  margin:0 auto;
  padding:0 0.625rem;
}

