*{

	padding:20;
	margin:20;
}

body{
	font-size: 16px;/*setting default size for site.  16px will be equal to 1em*/
	width: 100%;
	background-color: #68073E;

}

#aboveTheFold{
	height: 100vh;
	background-image: url('../images/comp_view.jpg');
}