@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

body{
    font-size: 16px;
    font-family: sans-serif;
    color: #2C2E2F;


}

a{
    text-decoration: none;
}

header{
    margin-bottom: 1em;

}

header p{
    margin:.3em 0;
    font-size:2em;
    letter-spacing: .3em;
    float: left;

}

header a:hover{
    color: red;

}

#header_icons{
    float: right;
}

nav{
    float:left;
    width: 20em;
    margin-left:28%; /*???? How can I center this nav bar?*/
    margin-top: 1.25em;
}

nav a {
    color: grey;
    padding: .2em;
}

#header_icons{
    margin-right: 1em;
}

#module1{
    background-image: url('../images/flowerImage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}

#module1 p{
    color: #fff;
    font-size: 3em;
    padding-top: 10em;

}

#imagesModule2{
    width: 90%;
    margin: auto;
}
#module2 img{
    width: 24%;

}

#module3 {
    background-image: url('../images/module3Image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;

}

#module3 button{
    margin-top: 10em;
    margin-left: 2em;   
    padding: .3em;
    font-size: 2em;
    background-color: grey;
    color:#fff;
    border-radius: 10px;
}
footer{
    margin-top: 1.5em;
    background-color: #fff;
}

#footerContainer{
    width:90%;
    margin: auto;
}

#subscribe{
    font-size: .8em;
    float: left;
    margin-right: 45em;
    color: grey;
}

#miscLinks{
    float: left;
    color: grey;
    font-size: .7em;
}


#miscLinks a{
    color: grey;
}

#miscLinksColumn1{
    float:left;
    margin-right: 2em;    
}

#miscLinksColumn2{
    float: left;
}

#miscLinksColumn1 a{
    display: block;
}

#miscLinksColumn2 a{
    display: block;
}

#socialMediaLinks{
    float:right;
}

